<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body onload = "init()">
    <table name = "tb" width = "100%", border = "1px">
        <tr>
            <td>No</td>
            <td>제목</td>
            <td>작성자</td>
            <td>등록일</td>
            <td>조회수</td>
        </tr>
        <%
        <!-- 퍼센트로 감싼 코드만 ejs의 렌더링이 된다. -->
        var total = 100;
        %>
        <%for(var i=1; i<=total; i++){%> 
            <tr <%if(i%3==0){%>bgcolor = "yellow"<%}%>>
                <!-- 출력은 =을 붙임 -->
                <td><%=i%></td>
                <td><a href = "/board/list?no=<%=i%>">제목</a></td>
                <td>노동부</td>
                <td>2020-10-15</td>
                <td>589</td>
            </tr>
        <%}%>
    </table>
</body>
</html>